<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClrPlus.Console" version="1.8.0.81" targetFramework="net451" />
  <package id="ClrPlus.Core" version="1.8.0.81" targetFramework="net451" />
  <package id="ClrPlus.Platform" version="1.8.0.81" targetFramework="net451" />
  <package id="ClrPlus.Windows.Api" version="1.8.0.81" targetFramework="net451" />
  <package id="ConsoleExtensions" version="1.0" targetFramework="net451" />
  <package id="ConsoleMenu" version="0.1.0" targetFramework="net451" />
  <package id="CsQuery" version="1.3.4" targetFramework="net451" />
  <package id="DotNetZip" version="1.9.3" targetFramework="net451" />
  <package id="EditorUtils2010" version="1.4.1.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="evernote-cloud-sdk-windows" version="1.0.5" targetFramework="net451" />
  <package id="Exts.Console" version="1.0.0" targetFramework="net451" />
  <package id="IntelliFactory.Build" version="0.1.15" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.7" targetFramework="net451" />
  <package id="Microsoft.Bcl.Async" version="1.0.16" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net451" />
  <package id="NuGet.Core" version="2.8.2" targetFramework="net451" />
  <package id="OpenLib.Extensions" version="1.2.1" targetFramework="net451" />
  <package id="OpenLib.Utils" version="1.0.0" targetFramework="net451" />
  <package id="OpenLib.VsWizards" version="1.1.0" targetFramework="net451" />
  <package id="PerByte.Core" version="0.0.9" targetFramework="net451" />
  <package id="PerByte.Vsix.Core" version="0.0.2" targetFramework="net451" />
  <package id="PreMailer.Net" version="1.2.7" targetFramework="net451" />
  <package id="R.Console.dll" version="1.0.3" targetFramework="net451" />
  <package id="SevenZip.SDK" version="1.0.0" targetFramework="net451" />
  <package id="SgmlReader" version="1.8.11" targetFramework="net451" />
  <package id="SignVSIXLibrary" version="1.0.1" targetFramework="net451" />
  <package id="UltimateConsole" version="0.1.1" targetFramework="net451" />
</packages>